.comic-page {

    .blue-bg {
        height: 80px;
        width: 100%;
        background-color:$blue-color ;}


    .thumb {
        position: relative;

        img {
            position: absolute;
            bottom: 25px;
        }

        .label {
            position: absolute;
            background-color:$blue-comic;
            text-align: center;
            text-transform: uppercase;
            color: $lightVhite-color;
            font-size: 0.4rem;

            &#comic-book{
                bottom: 304px;
                width: 90px;
            
            }
    
            &#view-gallery {
                bottom: 25px;
                width: 192px;
            }
                       
          }
    
      
    }

    
}