.card-section {
  background-color: $CardBgGray-color;

  h6, p {color: gray;}
}

.cards-box {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}
// BUTTON LOAD STYLE// + CUrrentSeries (provvisorio)
.container-card {
  position: relative;
 max-width: 1200px;
    margin: 0 auto;
}

.button-series {
  position: absolute;
  left: -10px;
  top: -25px;
  width: 300px;
  padding: 5px 5px;
  font-size: 18px;
  button {
    background-color: $blue-color;
    padding: 10px 14px;
    margin: 0 auto;
    color: $lightVhite-color;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      background-color: $lightVhite-color;
      color: black;
      border: 1px solid black;
    }
  }
}
.button-load {
  padding-bottom: 30px;
  text-align: center;

  button {
    background-color: $blue-color;
    padding: 15px 50px;
    margin: 0 auto;
    color: $lightVhite-color;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      background-color: $lightVhite-color;
      color: black;
      border: 1px solid black;
    }
  }
}

.cards {
  margin-top: 30px;
  flex-basis: calc(100% / 6 - 20px);
  padding: 5px;

  img {
    width: 1500px;
    height: 150px;
    cursor: pointer;
    &:hover {
      transition: 0, 3s;
      transform: scale(1);
      opacity: 50%;
    }
  }
  h3 {
    margin-top: 5px;
    color: $lightVhite-color;
    font-size: 15px;
  }
}