nav {
  display: flex;
}

figure {
  display: inline-block;
}
figure img {
  padding: 20px 0px;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
ul li {
  font-weight: bold;
  padding: 0 15px;
  height: 100%;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
}
ul li:hover {
  color: #1e86ed;
  border-bottom: 5px solid #1e86ed;
}

a {
  color: #484646;
}

/* GENERICS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

/* UTILS */
.container {
  max-width: 1200px;
  margin: 0 auto;
}